{% extends "layout.html" %}
{% block title %}3rdGrace.com | About{% endblock %}
{% block content %}
<div id="about">
   <section class="u-clearfix u-palette-1-dark-3 u-section-1" id="carousel_f054">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
         <div class="u-layout">
            <div class="u-layout-row">
               <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-33-lg u-size-33-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1">
                     <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
                        src="{{ url_for('static', filename='images/LOGO_3rdGrace1.png') }}" alt=""
                        data-image-width="1649" data-image-height="935"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="0">
                  </div>
               </div>
               <div class="u-align-left u-container-style u-layout-cell u-size-27-lg u-size-27-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2"
                  data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-container-layout-2">
                     <p class="u-align-left u-text u-text-palette-3-dark-3 u-text-1">Image from <a
                        href="https://www.freepik.com"
                        class="u-active-none u-border-1 u-border-active-black u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-dark-3 u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-palette-3-dark-3 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">Freepik</a>
                     </p>
                     <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-1">
                        <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-palette-3-base u-text-2">
                           Welcome!
                        </h2>
                        <p class="u-align-left u-text u-text-3"> At 3rdGrace, we believe that the gospel shouldn't
                           be
                           complicated. Our mission is to present the profound message of God's love and grace in a
                           simple and
                           accessible way. We have distilled the essence of our approach into an acronym that
                           captures the heart of
                           what we stand for: KISS.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="u-clearfix u-custom-color-2 u-section-2" id="carousel_6845">
      <div class="u-clearfix u-sheet u-sheet-1 top-bottom-spacer">
         <p>
         <h5>K - Keep it Simple</h5>
         In a world filled with complexities,
         we strive to cut through the noise and present the
         gospel in its purest form. Our content is designed to be straightforward, easy to understand, and relatable
         to people from all walks of life. We believe that the simplicity of the gospel message has the power to
         transform lives and bring hope to the weary soul.
         </p>
      </div>
   </section>
   <section class="u-clearfix u-custom-color-4 u-section-4" id="carousel_8ecd">
      <div class="u-clearfix u-sheet u-sheet-1">
         <p>
         <h5>I - Inspire Hearts: </h5>
         Our goal is to inspire and touch the
         hearts of those who visit our website. We
         understand that true transformation begins from within, and we aim to ignite a spark of faith and hope that
         can grow into a roaring fire. Through engaging articles, personal testimonies, and uplifting resources, we
         seek to stir the hearts of our readers and encourage them to pursue a deeper relationship with God.
         </p>
         <p>
         <h5>S - Share Stories: </h5>
         Stories have the power to connect people on a profound level. We believe that personal
         stories are a testament to the transformative power of God's grace. Through our platform, we share inspiring
         stories of individuals who have experienced God's love and mercy in their lives. These stories serve as a
         reminder that no one is too broken, too lost, or too far gone to receive the grace of God.
         </p>
         <p>
         <h5>S - Spread Hope: </h5>
         Our ultimate aim is to spread hope to a world in need. We believe that the gospel is a
         message of hope, healing, and redemption. Through our website, we strive to share the good news that God's
         grace is available to all. Whether you are seeking answers, looking for encouragement, or simply in need of
         a glimmer of hope, we want to be a beacon of light in your journey.
         </p>
      </div>
   </section>
   <section class="u-clearfix u-custom-color-2 u-section-2" id="carousel_6845">
      <div class="u-clearfix u-sheet u-sheet-1 top-bottom-spacer">
         <p>
         <h5>At 3rdGrace</h5>
         We invite you to join us on this incredible adventure of discovering the beauty of God's grace.
         Together, let's keep it simple, inspire hearts, share stories, and spread hope. May your time here be
         uplifting, enlightening, and transformative. We are excited to walk alongside you as we experience the
         unending wonders of God's grace together.
         </p>
      </div>
      <div class="centered-div">
         <h3 class="gold-text">Welcome to the 3rdGrace community!</h3>
      </div>
   </section>
</div>
{% endblock content %}