{% extends "layout.html" %}
{% block title %}3rdgrace.com{% endblock %}
{% block content %}
<section class="u-clearfix u-palette-1-dark-3 u-section-1" id="carousel_f054">
   <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
         <div class="u-layout-row">
            <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-33-lg u-size-33-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
               <div class="u-container-layout u-container-layout-1">
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
                     src="{{ url_for('static', filename='images/LOGO_3rdGrace1.png') }}" alt=""
                     data-image-width="1649" data-image-height="935"
                     data-animation-name="customAnimationIn" data-animation-duration="1500"
                     data-animation-delay="0">
               </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-27-lg u-size-27-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2"
               data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
               <div class="u-container-layout u-container-layout-2">
                  <p class="u-align-left u-text u-text-palette-3-dark-3 u-text-1">Image from <a
                     href="https://www.freepik.com"
                     class="u-active-none u-border-1 u-border-active-black u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-dark-3 u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-palette-3-dark-3 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">Freepik</a>
                  </p>
                  <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-1">
                     <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-palette-3-base u-text-2">
                        Why
                     </h2>
                     <p class="u-align-left u-text u-text-3"> I named my website 3rdGrace.com because I believe
                        in the simplicity of the Christian Gospel. I've noticed that sometimes, people - even
                        leaders in the church - can make it seem really complicated, as if you need some sort of
                        advanced degree just to understand it. But I don't think it should be that way.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="u-clearfix u-custom-color-2 u-section-2" id="carousel_6845">
   <div class="u-clearfix u-sheet u-sheet-1 top-bottom-spacer">
      <p class="u-align-left u-text u-text-1" data-animation-name="" data-animation-duration="0"
         data-animation-delay="0" data-animation-direction="">In my view, the Gospel is about God's grace, his
         kindness that we don't earn but that he gives us anyway. And it's such a simple, beautiful message that even
         a third grader should be able to understand it. That's where the "3rd" in 3rdGrace comes from.<br>
         <br>I named my site 3rdGrace.com to reflect my commitment to make the Gospel clear and accessible to
         everyone, just like it was intended to be. No advanced degrees needed, no complicated jargon – just the
         pure, simple message of God's grace.
      </p>
   </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-3" id="carousel_320a">
   <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
         <div class="u-layout">
            <div class="u-layout-row">
               <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-33-md u-size-33-sm u-size-33-xs u-size-38-lg u-size-38-xl u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1">
                     <h2 class="u-custom-font u-font-montserrat u-text u-text-palette-1-dark-3 u-text-1"> If
                        you've enjoyed this blog, we'd appreciate your feedback.
                     </h2>
                  </div>
               </div>
               <div class="u-align-right u-container-align-left-sm u-container-align-left-xs u-container-style u-layout-cell u-right-cell u-similar-fill u-size-22-lg u-size-22-xl u-size-27-md u-size-27-sm u-size-27-xs u-layout-cell-2">
                  <div class="u-container-layout u-container-layout-2">
                     <a href="Contact.html"
                        class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-custom u-hover-custom-color-2 u-none u-radius-50 u-text-active-palette-3-base u-text-custom-color-3 u-text-hover-palette-5-base u-btn-1"
                        data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                        data-animation-direction="">comments</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="u-clearfix u-custom-color-4 u-section-4" id="carousel_8ecd">
   <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
         <div class="u-container-layout u-container-layout-1">
            <p class="u-custom-font u-font-montserrat u-text u-text-custom-color-5 u-text-1"> This site is dedicated
               to individuals seeking to understand the gospel
               in its purest form. We provide resources to deepen your comprehension,
               enrich your faith, and guide your spiritual journey.
            </p>
            <p class="u-align-left u-text u-text-2" data-animation-name="" data-animation-duration="0"
               data-animation-delay="0" data-animation-direction=""> While we encourage open-minded exploration,
               this site is not a platform
               for debates. If our teachings diverge from your beliefs, we kindly ask
               you to seek discourse elsewhere. Our focus is on fostering learning and
               peaceful community growth.
            </p>
         </div>
      </div>
      <div class="u-layout-grid u-list u-list-1">
         <div class="u-repeater u-repeater-1">
            <div class="u-bottom-right-radius-20 u-container-style u-grey-15 u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-list-item-1">
               <div class="u-container-layout u-similar-container u-container-layout-2">
                  <span
                     class="u-align-left u-file-icon u-icon u-opacity u-opacity-75 u-text-custom-color-4 u-icon-1"
                     data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                     data-animation-direction=""><img src={{"static/images/7500251-f809ee7b.png"}} alt=""></span>
                  <p class="u-align-left u-text u-text-black u-text-3"> For years, I've urged him to start a blog.
                     His wisdom is enlightening
                     and should be shared with others. He speaks truths that people need to
                     hear and understand.
                  </p>
                  <h5 class="u-align-right u-custom-font u-font-montserrat u-text u-text-custom-color-6 u-text-4">
                     Shirley Smith
                  </h5>
               </div>
            </div>
            <div class="u-bottom-right-radius-20 u-container-align-left u-container-style u-grey-15 u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-list-item-2">
               <div class="u-container-layout u-similar-container u-container-layout-3">
                  <span
                     class="u-align-left u-file-icon u-icon u-opacity u-opacity-75 u-icon-2"
                     data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                     data-animation-direction=""><img src={{"static/images/7500251-f809ee7b.png"}} alt=""></span>
                  <p class="u-align-left u-text u-text-black u-text-5"> He's always championed others to pursue
                     their passions. I'm thrilled
                     he's now embracing his own. His passion for sharing the gospel is
                     inspiring and truly a joy to witness.
                  </p>
                  <h5 class="u-align-right u-custom-font u-font-montserrat u-text u-text-custom-color-6 u-text-6">
                     Liz Gilmore
                  </h5>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock content %}